<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Distance Matrix</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
          <h1>Dashboard</h1>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
          <a
            class="btn btn-secondary"
            href="{% url 'service_app:logout_page' %}"
            >Logout</a
          >
        </div>
      </div>

      <div class="row mt-3 mb-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h3>How this works: </h3>
          <ul>
            <li>Enter a Source</li>
            <li>Enter Waypoints or through-route</li>
            <li>Enter a Destination</li>
            <li>The system will calculate the <code>shortest</code> path between the Source and Destination, through the Waypoints.</li>
          </ul>
          <p></p>
        </div>
      </div>

      {% if messages %}
      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 text-center">
          {% for message in messages %}
          <div
            class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}"
            role="alert"
          >
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="source_image">Source Image</label>
              <input
                class="form-control-file"
                type="file"
                name="source_image"
                id="source_image"
                required
              />
            </div>

            <div class="form-group">
              <label for="waypoint_images">Waypoint Images (optional)</label>
              <input
                class="form-control-file"
                type="file"
                name="waypoint_images"
                id="waypoint_images"
                multiple
              />
            </div>

            <div class="form-group">
              <label for="destination_image">Destination Image</label>
              <input
                class="form-control-file"
                type="file"
                name="destination_image"
                id="destination_image"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <br>
      <br>

      {% if jobs %}

      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <h3>Job Requests</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Total Distance</th>
                <th scope="col">Status</th>
                <th scope="col">Map</th>
              </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <th>{{ job.source_image.place_name }}</th>
                  <th>{{ job.destination_image.place_name }}</th>
                  <th>{{ job.total_distance }}</th>
                  <th>
                    {% if job.status == 'PRS' %}
                      <button type="button" class="btn btn-warning btn-sm" disabled>PROCESSING</button>
                    {% endif %}
                    {% if job.status == 'COM' %}
                      <button type="button" class="btn btn-success btn-sm" disabled>SUCCESS</button>
                    {% endif %}
                    {% if job.status == 'ERR' %}
                      <button type="button" class="btn btn-danger btn-sm" disabled>ERROR</button>
                    {% endif %}
                  </th>
                  <th><a href="{{ job.static_map.image.url }}" target="_blank" class="btn btn-danger">Map</a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </body>
</html>
