<!DOCTYPE html>
<html lang="en">
  <head>
      {% if show_timer %}<meta http-equiv="refresh" content="10">{% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ダッシュボード ー　写真アプリケーション</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row mt-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
          <h1>ダッシュボード ー　写真アプリケーション</h1>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
          <a
            class="btn btn-secondary"
            href="{% url 'service_app:logout_page' %}"
            >ログアウト</a
          >
        </div>
      </div>

      <div class="row mt-3 mb-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h3>アプリの使い方： </h3>
          <ul>
            <li>出発した所の写真をアップロードする</li>
            <li>途中で止まった場所があれば、そこの写真もアップロードできます（オプション）</li>
            <li>目的地場所の写真をとってアップロードする</li>
            <li>アプリが自動的に <code>距離</code> を計算してメンバーのアカウントにデータとして記録されます。</li>
          </ul>
          <p></p>
        </div>
      </div>

      {% if messages %}
      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 text-center">
          {% for message in messages %}
          <div
            class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}"
            role="alert"
          >
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="source_image">出発した所の写真</label>
              <input
                class="form-control-file"
                type="file"
                name="source_image"
                id="source_image"
                required
              />
            </div>

            <div class="form-group">
              <label for="waypoint_images">途中で止まった場所の写真（オプション）</label>
              <input
                class="form-control-file"
                type="file"
                name="waypoint_images"
                id="waypoint_images"
                multiple
              />
            </div>

            <div class="form-group">
              <label for="destination_image">目的地場所の写真</label>
              <input
                class="form-control-file"
                type="file"
                name="destination_image"
                id="destination_image"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">提出</button>
          </form>
        </div>
      </div>
      <br>
      <br>

      {% if jobs %}

      {% if show_timer %}
      <div class="row mt-3">
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <h4>計算しています。出来たらアプリケションがリフレッシュされます。 <span id="timer"></span></h4>
          </div>
        </div>
        <br>
        <script>
            var maxTime = 10;
            setInterval(func, 1000);
            function func(){
            if (maxTime > 0) {
            document.getElementById('timer').innerHTML = maxTime + " seconds.";
            maxTime = maxTime - 1; }
            else { document.getElementById('timer').innerHTML = "Refreshing..." }
            }
        </script>
      {% endif %}

      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <h3>Job Requests</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">出発の場所</th>
                <th scope="col">目的地場所</th>
                <th scope="col">距離</th>
                <th scope="col">計算結果</th>
                <th scope="col">マップ</th>
              </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <th>{{ job.source_image.place_name }}</th>
                  <th>{{ job.destination_image.place_name }}</th>
                  <th>{{ job.total_distance }}</th>
                  <th>
                    {% if job.status == 'PRS' %}
                      <button type="button" class="btn btn-warning btn-sm" disabled>プロセスされています</button>
                    {% endif %}
                    {% if job.status == 'COM' %}
                      <button type="button" class="btn btn-success btn-sm" disabled>成功</button>
                    {% endif %}
                    {% if job.status == 'ERR' %}
                      <button type="button" class="btn btn-danger btn-sm" disabled>エラー</button>
                    {% endif %}
                  </th>
                  <th><a href="{{ job.static_map.image.url }}" target="_blank" class="btn-sm btn btn-danger">Map</a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      {% endif %}

    </div>
  </body>
</html>
